.Media {
	background-color: rgba(232, 79, 79, 0.8);
	cursor: pointer;
	margin-right: 15px;
	margin-bottom: 30px;
	display: inline-block;
	width: 218px;
	vertical-align: top;
	padding: 6px;
	font-family: "lato";
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0, 0.3);
	transition: .3s;


}

.Media:hover{
	box-shadow: 0 0 10px rgba(0,0,0, 0.6);
}

.Media-image {
	object-fit: cover;
}

.Media-title {
	margin: 5px 0 0 0;
	white-space: normal;
}

.Media-author{
	padding: 0;
	margin: 0;
}
