.playlist-block {
	display: block;
	color: #404448FF;
	font-family: "lato";
	box-shadow: 0 0 5px rgba(232, 79, 79, 0.3);
	padding: 20px;
	padding-top: 5px;
	padding-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}