.Related {
	display: inline-block;
	width:300px;

	background: #f3c5bd; /* Old browsers */
	background: -moz-linear-gradient(top, #f3c5bd 0%, #f3c5bd 24%, #ff6600 75%, #ea2803 100%, #e86c57 100%, #c72200 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f3c5bd 0%,#f3c5bd 24%,#ff6600 75%,#ea2803 100%,#e86c57 100%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f3c5bd 0%,#f3c5bd 24%,#ff6600 75%,#ea2803 100%,#e86c57 100%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}